
.about {
    background-color: #fff;
    padding-top: 50px;
}

.about .titlepage {
    text-align: justify;
    padding-bottom: 0;
    width: 100%;
}

.about .titlepage h2 {
    margin-bottom: 35px;
}

.about .titlepage p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 20px;
}

.about_img {
    /* margin-right: 40px; */
    overflow: hidden;
}

.about_img figure {
    margin: 0;
}

.about_img figure img {
    width: 100%;
    transition: all .5s;
}

.about_img figure img:hover {
    transform: scale(1.2);
}

.title{
    background-color: #0f1521;
    text-align: center;
    padding-bottom: 0.1rem; 
    width: 100%;
}

.read_more {
    font-size: 17px;
    background-color: #0f1521;
    color: #fff;
    padding: 8px 0px;
    width: 100%;
    max-width: 144px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    font-weight: 500;
    border-radius: 30px;
}

.read_more:hover {
    background: #980D11;
    color: #fff;
    transition: ease-in all 0.3s;
}