<div class="title">
   <h2 style="color: white; padding-top: 5px;"> Home</h2>
</div>

<div class="about">
   <div class="row">
      <div class="col-md-5">
         <div class="about_img">
            <figure><img [src]="this.imagen" alt="#" /></figure>
         </div>
      </div>
      <div class="col-md-6">

         <div class="titlepage">

            <p class="margin_0 descripcion">{{this.descripcion}}</p>
           <!-- <a class="read_more" href="Javascript:void(0)"> Read More</a>-->
         </div>
      </div>
   </div>

</div>