.btn{
    font-size: 17px;
    background-color: #0f1521;
    color: #fff;
    padding: 8px 0px;
    width: 100%;
    max-width: 144px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    font-weight: 500;
    border-radius: 30px;
}

.btn:hover {
    background: #fe0000;
    color: #fff;
    transition: ease-in all 0.5s;
}
