img {
   max-width: 100%;
   height: auto;
}

.blog_box {
   max-width: 100%;
   margin-bottom: 30px;
}

.blog_box .blog_img {
   overflow: hidden;
}

.blog_box .blog_img figure {
   width: 100%;
   margin: 0;
}

.blog_box .blog_img figure img:hover {
   transform: scale(1.2);
}

.blog_img {
   width: 100%;
}

.container {
   width: 100%;
}
