
 <!-- 
<div class="col-lg-12" > 

    <section class="categories">
        <div class="container2">
            <div class="row">
             <div class="col-lg-3 " >
               
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="assets/images/about.png">
                            <h5><a href="#">Fresh Fruit</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="assets/images/cat-2.jpg">
                            <h5><a href="#">Dried Fruit</a></h5>
                        </div>
                    </div>
             </div>
                

 
                </div>
            </div>
        </div>
    </section>

   </div>



-->
