
<section class="hero">
    <div class="row">
            <div class="hero__categories">
                <ul>
                  <li class="test">
                     <a class="nav-link " href="index.html" style="color: white">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="about.html">Sobre Nosotros</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="room.html">Facilidades</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="gallery.html">Como llegar</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="blog.html">Tarifa</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="contact.html">Reservaciones</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="contact.html">Contactenos</a>
                  </li>
                </ul>
            </div>

    </div>
</section>


<router-outlet></router-outlet>
