<div class="title">
    <h2 style="color: white; padding-top: 5px;"> Reservar en Linea</h2>
</div>
<div class="about">
    <p class="ml-4">Habitacion Disponible</p>
    <div class="row">
        <div class="col-md-5">
            <div class="about_img">
                <figure><img src="assets/images/about.png" alt="#" /></figure>
            </div>
        </div>
        <div class="col-md-6">
            <div class="titlepage">
                <p class="margin_0 descripcion">
                    Esta es una descripción de lo que viene a ser la habitacion
                </p>
            </div>
        </div>
    </div>
</div>
<div class="reservacion mt-5">
    <div class="row">
        <div class="col-md-5">
            <form id="request" class="main_form">
                <div class="row">
                    <div class="col-md-12 ">
                        <input class="formulario" placeholder="Monto de su reservación: $100" type="type" name="Monto" disabled>
                    </div>
                    <div class="col-md-12 ">
                        <input class="formulario" placeholder="Nombre" type="type" name="Nombre">
                    </div>
                    <div class="col-md-12">
                        <input class="formulario" placeholder="Apellidos" type="type" name="Apellidos">
                    </div>
                    <div class="col-md-12">
                        <input class="formulario" placeholder="Email" type="type" name="Email">
                    </div>
                    <div class="col-md-12">
                        <input class="formulario" placeholder="Tarjeta de Credito" type="type"
                            name="Tarjeta de Credito">
                    </div>
                    <div class="col-md-12 btns">
                        <button class="btn">Aceptar</button>
                        <button class="btn">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
