.main_form .formulario {
    border: #fff solid 1px;
    padding: 0 15px;
    margin-bottom: 25px;
    width: 100%;
    height: 58px;
    background: #fff;
    color: gray;
    font-size: 18px;
    font-weight: normal;
    box-shadow: 2px 0px 6px rgba(16, 11, 80, 0.2);
}


.main_form .btn {
    font-size: 18px;
    transition: ease-in all 0.5s;
    background-color: #000000;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0px;
    max-width: 193px;
    width: 100%;
    display: block;
    margin-top: 10px !important;
    margin: 2rem;
    font-weight: 500;
    border-radius: 50px;
}

.main_form .send_btn:hover {
    background-color: #0f1521;
    transition: ease-in all 0.5s;
    color: #fff;
}

#request *::placeholder {
    color: gray;
    opacity: 1;
}

.about {
    background-color: #fff;
    padding-top: 50px;
}

.about .titlepage {
    text-align: justify;
    padding-bottom: 0;
    width: 100%;
}

.about .titlepage h2 {
    margin-bottom: 35px;
}

.about .titlepage p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 20px;
}

.about_img {
    /* margin-right: 40px; */
    overflow: hidden;
    margin-left: 20px;
}

.about_img figure {
    margin: 0;
}

.about_img figure img {
    width: 100%;
    transition: all .5s;
}

.about_img figure img:hover {
    transform: scale(1.2);
}

.title {
    background-color: #0f1521;
    text-align: center;
    padding-bottom: 0.1rem;
    width: 100%;
}

.reservacion {
    margin-left: 20px;
    margin-right: 20px;
}

.btns {
 display: inline-flex;
}
