<header>
    <div class="header">
             <div class="col-lg-12">
                <div class="row">
                   
                <div class="col-lg-2">
                   <div style="margin-bottom: 100px; text-align: right;">
                      <a href="index.html"><img src="assets/images/logo.png"/></a> 
                   </div>
                </div>

                <div class="col-lg-5">
                   <div style="margin-top: 10px">
                      <H2>Hotel CocoMilk</H2>
                   </div>
                </div>

             </div>
             
             </div>
       </div>    
 </header>

